/* generic */
/*context menu*/
.dropdown-menu .divider
{
    height: 1px;
    background-color: #dddddd;
	padding: 0;
}
.dropdown-menu
{
    position: absolute;
    top: 100%;
	left: 0;
    padding: 0;
    z-index: 1000;
    min-width: 160px;
    font-size: 14px;
    list-style: none;
    background-color: inherit;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.dropdown-menu>li>a
{
    color: inherit;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 13px 8px 13px 20px;
    height: 40px;
	white-space: nowrap;
	width: 100%;
	text-decoration-line: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	background-color: rgba(158,158,158,0.2);
}

body, html {
    background-color: transparent;
}
*{
	box-sizing: border-box;
	outline: none;
}

md-input-container label, .material-icons, .cust-tooltip, .readerToggleIcon, .reader-ui
{
    user-select: none;
}
.externalLink{
	text-decoration: underline;
	cursor: pointer;
}
.w100h100Important
{
	width:100% !important;
	height:100% !important;
} 
.w100h100
{
	width:100%;
	height:100%;
}
.w33h100
{
	width:33.33%;
	height:100%;
}
md-list-item p 
{
	word-wrap: break-word;
	width: 0px;
}
.no-marg-pad
{
	margin:0px;
	padding:0px;
}
.maincont
{
	height:calc(100% - 91px);
	width:100%;
	overflow:auto;
	position: relative;
}
.topcont
{
	height: 55px;
	min-height: 55px;
	width: calc(100% - 36px);
	margin: 18px;
	position:relative;
}
.cust-tooltip
{
	height: auto !important;
    font-size: 15px !important;
	color: rgb(255, 255, 255) !important;
	opacity: 1 !important;
}
.readerToggle
{
	padding: 4px;
	cursor:pointer;
	position:absolute;
	z-index:201;
	left: 0px;
	top: 0px;
	text-align:center;
	user-select: none;
}
.readerToggle > div
{
	width: calc(100% - 4px);
}
.readerToggleMargin
{
	margin-left:32px;
}
.textInputIconSpace
{
	width: calc(100% - 40px);
	height:100%;
}
.textInputIcon
{
	position: absolute !important;
	right: 0px;
	margin: 0px !important;
}

.mdDialogSize
{
	width:75%;
	min-width:500px;
	min-height:200px;
}
.extendedSelect
{
	height: 55px;
}

/* downloader */
@media only screen and (max-width: 1050px) 
{
	.dlMainSmallColumn1{
		width: 50%;
		height: 66.66%;
		float: left;
		min-height: 300px;
	}
	.dlMainSmallColumn2{
		width:100%;
		min-height: 33.33%;
		clear: both;
		padding-top: 10px;
		border-top: 1px solid #dddddd;
	}		
} 
@media only screen and (min-width: 1051px) 
{
	.dlMainBigColumn{
		width: 33.33%;
		height: 100%;
		float: left;
	}	
} 
.openExternalIcon
{
	position: absolute;
	top: -4px;
	color: currentColor !important;
	font-size: 20px !important;
}
.versionSelection
{
	width: 100%;
	padding: 0px;
	text-align: center;
}
.chapterSelectionBorder
{
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.chapterSelectionIndentation
{
	margin-left:40px;
	width:calc(100% - 40px);
}
.colorThemeSelection
{
	width:100%;
	height:50px;
}
.absoluteCenter
{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.absoluteCenterHorizontal
{
	position: absolute;
	transform: translateX(50%);
	right: 50%;
}
.absoluteFullViewport
{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

/* metadata */
.hoverText
{
	cursor: pointer;
	border-bottom: 1px dashed;
}


/* reader */
@media only screen and (max-width: 1366px) 
{
	.configKeyWidth{
		width: 100%;
	}	
} 
@media only screen and (min-width: 1366px) 
{
	.configKeyWidth{
		width: 49%;
	}	
}

.readerSideMenu
{
    position: absolute;
    overflow: visible;
	width:300px;
    top: 0px;
    bottom: 0px;
}
#viewerContainer
{
	overflow: auto;
	user-select: none;
	display: flex;
	will-change: transform;
}
.readerTextInputIcon
{
	height: 29px !important;
	min-height: 29px !important;
	padding: 0px !important;
}
.reader-ui
{
	position:absolute;
	top:0;
	height: 34px;
	display: flex;
	z-index:3;
	align-items: center;	
	width: fit-content;
}
.reader-ui-icons
{
	cursor: pointer;
	outline: none;
	height: 100%;
	display: flex !important;
    align-items: center;
}
.dragscroll
{
	cursor: -webkit-grab;
}
.mediaDisplay
{
	user-select: none;
	display: block;
	margin: auto;
	contain: paint;
}
.readerUiFileNumbers
{
	min-width: 34px;
	display: inline-block;
	text-align: center;
}
.mediaPrefetch
{
	position:absolute;
	display:none;
}
.keyConfigFlexContainer
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}
.floatRow50
{
	width:50%;
	float:left;
}

.centeredToast
{
	min-width: 0px;
	width: auto !important;
    left: 50% !important;
    right: unset !important;
	transform: translateX(-50%);
	background-color: inherit !important;
	color: inherit !important;
	padding: 20px !important;
	visibility: hidden;
}

.centeredToast .md-toast-content
{
	background-color: inherit !important;
	color: inherit !important;
	visibility: visible;
	font-size: 16px !important;
}


/* workaround for false calculated open position */
/* .md-select-2-columns md-option:nth-child(2n)
{
	left: -200px;
	transform: translateX(200px)
}
.md-select-2-columns md-option:nth-child(2n + 1)
{
	float: left;
}
.md-select-2-columns md-option
{
	width: 200px;
} */
.md-select-3-columns md-option:nth-child(3n + 2)
{
	left: -170px !important;
	transform: translateX(170px)
}
.md-select-3-columns md-option:nth-child(3n + 3)
{
	left: -340px !important;
	transform: translateX(340px) !important;
	float: none !important;
}
.md-select-3-columns md-option
{
	width: 170px;
	float: left;
}
.md-select-3-columns > md-select-menu
{
	max-height: 336px;
}
.md-select-3-columns md-content
{
	max-height: 336px;
	padding: 0px !important;
}
.md-select-3-columns
{
	min-width: 0px !important;
}
