:root {
    --plyr-color-main: #c21a1a;
    --plyr-tooltip-background: #000000;
    --plyr-tooltip-color: #ffffff;
    --plyr-menu-background: #000000;
    --plyr-menu-color: #ffffff;
    --plyr-menu-border-color: #ffffff;
    --plyr-menu-radius: 0px;
}

.plyr--full-ui{
    
    height: 100%;
    width :100%;
}
.plyr__video-wrapper {
    display: flex!important;
    justify-content: center!important;
    height: 100% !important;
    width: 100% !important;
}
.plyr__video-wrapper video{
    max-height: 100% !important;
    max-width: 100% !important;
}
.plyr audio, .plyr iframe, .plyr video{
    height: auto !important;
    width: auto!important;
}



.plyr__controls {
    padding-bottom: 5px !important;
}
/* .plyr__control {
    padding-top: 10px !important;
} */
.plyr__control:hover {
    background: transparent !important;
}
.plyr__control[aria-expanded=true] {
    background: transparent !important;
}
.plyr__menu__container {
    border: 1px solid !important;
    border-radius: 0px !important;
}
.plyr__menu__container::after {
    content: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::after {
    height: 0px !important;
    width: 0px !important;
}
.plyr__control[role=menuitemradio]:hover::before {
    background: #ffffff80 !important;
}

.plyr__volume input[type=range] {
    cursor: pointer;
}
.plyr__progress input[type=range] {
    cursor: pointer;
}


.plyr__volume {
    margin-right: 0px;
}
.plyr__controls__item.plyr__progress__container {
    position: absolute;
    max-width: 100%;
    width: 100%;
    bottom: 35px;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.plyr__controls__item.plyr__control[aria-label="Play"]
{
    margin-right: 0px !important;
}
.plyr__controls__item.plyr__control[aria-label="Pause"]
{
    margin-right: 0px !important;
}

.plyr__controls__item.plyr__time--current.plyr__time
{
    font-size: 14px !important;
}
.plyr__controls__item.plyr__time--duration.plyr__time
{
    font-size: 14px !important;
    margin-right: auto;
}