<div class="md-dialog-container" id="downloadConfig">
	<md-dialog layout-padding class="mdDialogSize">
		<h3>File path specification</h3>

		
		<md-input-container class="topcont" style="margin-bottom: 0px;" context-menu="$parent.ngUtil.textInputMenu">
			<input class="w100h100Important" ng-model="$root.$storage.config.dlreppath" placeholder="download path pattern">
		</md-input-container>
		
		
		<h3>Output format</h3>
		<md-radio-group ng-model="$root.$storage.config.format" class="topcont" style="height:auto; margin: 0px auto;">
			<md-radio-button ng-repeat="packFormat in ::$parent.packFormats track by $index" value="{{::packFormat}}">{{::packFormat}}</md-radio-button>
		</md-radio-group>
	</md-dialog>
</div>