<div class="md-dialog-container" id="globalConfig">
	<md-dialog layout-padding class="mdDialogSize" style="position: absolute; top: 10%;">
		<md-tabs md-dynamic-height md-border-bottom style="padding: 0px 8px;">


			<md-tab label="Global settings">
				<h3>Generic settings</h3>
				<md-switch class="md-primary" ng-model="$root.$storage.config.fetchRemoteScript">
					Automatic update plugins (requires restart)
				</md-switch>
				<md-switch class="md-primary" ng-model="$root.$storage.config.enableBackgroundThrottling" ng-change="ngUtil.setBackgroundThrottling();">
					Enable background throttling
				</md-switch>
				<md-switch class="md-primary" ng-model="$root.preConfig.singleInstanceLock" ng-change="$root.storeAllConfig();">
					Single instance lock
				</md-switch>

				<md-input-container style="width: 270px;">
					<md-select class="extendedSelect" ng-model="$root.preConfig.configStorageType" ng-change="$root.storeAllConfig();">
						<md-option ng-repeat="storageType in ::['file','localStorage'] track by $index" ng-value="::storageType" placeholder="config storage type">
							{{::storageType}}
						</md-option>
					</md-select>
				</md-input-container>

				<h3 style="clear: both;">Custom CSS/JS files (requires restart)</h3>
				<div ng-repeat='filePath in $root.$storage.config.loaderCustomFiles track by $index'>
					<md-input-container style="width: calc(100% - 108px);">
						<input ng-model="$root.$storage.config.loaderCustomFiles[$index]" placeholder="File path">
					</md-input-container>
					<md-button class="md-raised" style="margin-bottom: 40px; height: 48px;" ng-click="$root.$storage.config.loaderCustomFiles.splice($index, 1);">remove</md-button>
				</div>
				<div style="text-align: center;">
					<md-button class="md-raised" style="margin:auto; height: 48px;" ng-click="$root.$storage.config.loaderCustomFiles.push('');">add file</md-button>
				</div>	
			</md-tab>


			<md-tab label="Color theme">								
				<div>
					<div class="keyConfigFlexContainer" style="margin-top: 20px;">
						<md-input-container ng-repeat='palette in ::["Background", "Accent", "Primary", "Warn"] track by $index' style="width: 50%;" layout="row">
							<label>{{::palette}} palette</label>
							<md-select style="width: 100%;" class="extendedSelect" md-container-class="md-select-3-columns"
									ng-model="$root.$storage.config.colorTheme[palette.toLowerCase()+'Palette']"
									ng-change="parent.ngUtil.updateColorTheme();">
								<md-option ng-repeat="color in parent.ngUtil.colorPalettes" ng-value="color" ng-click="parent.ngUtil.closeMdSelect();">
									{{color}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>

					<md-switch class="md-primary" style="margin-top: 0;" ng-model="$root.$storage.config.colorTheme.darkTheme" ng-change="$parent.ngUtil.updateColorTheme();">Dark theme</md-switch>		
					
					<h3>User themes</h3>

					<div style="width: 50%; padding-right: 20px; float: left; display: flex; align-content: space-around; flex-wrap: wrap;">
						<p>	Hues used are:<br />
							backgroundDark:  A400,  800,  900, A200<br />
							backgroundLight:   50, A100,  100,  300<br />
							accentLight:     A200, A100, A400, A700<br />
							otherwise:        500,  300,  800, A100
						</p>

						<md-input-container style="width:100%;">
							<label>selected theme</label>
							<md-select class="extendedSelect" ng-model="$parent.editUserTheme">
								<md-option ng-repeat="(key, value) in $parent.userThemes" ng-value="key">
									{{parent.removeFileExtension(key)}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="width:100%;">
							<input type="text" ng-keyup="$parent.renameTheme($event);" ng-value="$parent.removeFileExtension($parent.editUserTheme)" placeholder="theme name">
						</md-input-container>

						<md-button class="md-raised" style="margin:auto; height: 48px; width: 160px;" ng-click="$parent.addUserTheme();">add theme</md-button>
						<md-button class="md-raised" style="margin:auto; height: 48px; width: 160px;" ng-click="$parent.deleteCurrentTheme();">remove theme</md-button>
					</div>

					<div style="width: 50%; float: right;">
						<div ng-repeat="(key, value) in $parent.userThemes[$parent.editUserTheme] track by $index" style="height: 30px; width: 100%; padding: 6px;"
							 ng-style="{'backgroundColor': '#'+value}">
							<div style="width: 130px; float: left;">{{key}} - {{'#'+value}}</div>
							<input type="color" onchange="setThemeColor(event)" colorKey="{{key}}" ng-value="'#'+value">
						</div>
					</div>
				</div>
				
			</md-tab>

			<md-tab label="Selected plugin settings">
				<ace-editor style="display: block; width:100%; min-height: 250px;"
					ng-model="$parent.currentmmodel.options" ng-change="$parent.saveMmodelOptions()"></ace-editor>
			</md-tab>
		</md-tabs>
	</md-dialog>
</div>