<div class="md-dialog-container" id="pathDelete">
	<md-dialog layout-padding class="mdDialogSize" style="max-width:700px;">
		<h3>Delete folder?</h3>
		<h4 style="margin: 0 0 0 10px;">{{$parent.newFolderName}}</h4>

		<md-dialog-actions>
			<md-button ng-click="$parent.mdDialog.cancel();" class="md-primary">cancel</md-button>
			<md-button ng-click="$parent.mdDialog.hide();"   class="md-primary">OK</md-button>
		</md-dialog-actions>
	</md-dialog>
</div>