<div class="md-dialog-container" id="pathRename">
	<md-dialog layout-padding class="mdDialogSize" style="max-width:700px;">
		<h3>Change path?</h3>
		<md-input-container style="margin-left: 10px; margin-bottom: 0; width: calc(100% - 20px); height: 55px;">
			<input class="w100h100Important" ng-model="$parent.newFolderName" placeholder="new path">
		</md-input-container>

		<md-dialog-actions>
			<md-button ng-click="$parent.mdDialog.cancel();" class="md-primary">cancel</md-button>
			<md-button ng-click="$parent.mdDialog.hide();"   class="md-primary">OK</md-button>
		</md-dialog-actions>	
	</md-dialog>
</div>