<div class="md-dialog-container" id="readerConfig">
	<md-dialog layout-padding class="mdDialogSize" style="position: absolute; top: 10%;">

		<md-tabs md-dynamic-height md-border-bottom style="padding: 0px 8px;">
			<md-tab label="Miscellaneous">
				<h3>CSS</h3>
				<div style="display: block; width:calc(50% - 6px); height: 22px; padding: 4px; float: left; margin-right: 6px; background-color: #232323;
					color: #E2E2E2; padding-left: 44px; font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;">Container style</div>
				<div style="display: block; width:calc(50% - 6px); height: 22px; padding: 4px; float: left; margin-left: 6px; background-color: #232323;
					color: #E2E2E2; padding-left: 44px; font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;">Media element style</div>
				<ace-editor style="display: block; width:calc(50% - 6px); min-height: 200px; float: left; margin-right: 6px;"
					ng-model="$parent.config.styleContainer"></ace-editor>
				<ace-editor style="display: block; width:calc(50% - 6px); min-height: 200px; float: left;  margin-left: 6px;"
					ng-model="$parent.config.styleImage"></ace-editor>

				<h3 style="padding-top: 1em; margin: 0; clear: both;">Miscellaneous</h3>

				<div class="floatRow50">
					<md-switch class="md-primary" ng-model="$parent.config.enableEndlessScroll" ng-model-options="{ updateOn: 'blur' }">
						endless scroll
					</md-switch>
					<md-switch class="md-primary" ng-model="$parent.config.enableSmoothScroll">
						smooth scroll
					</md-switch>
					<md-switch class="md-primary" ng-model="$parent.config.dragscroll">
						drag scroll
					</md-switch>
				</div>
				<div class="floatRow50">
					<md-switch class="md-primary" ng-model="$parent.config.videoAutoPlay">
						video autoplay
					</md-switch>
					<md-switch class="md-primary" ng-model="$parent.config.videoLoop">
						video looping
					</md-switch>
					<md-switch class="md-primary" ng-model="$parent.config.numericSorting">
						numeric file sorting
					</md-switch>
				</div>

				<md-input-container class="topcont" style="width: 200px;">
					<input class="w100h100Important" ng-model="$parent.config.dragScrollFactor" placeholder="drag scroll factor">
				</md-input-container>
			</md-tab>

			<md-tab label="Keyboard configuration">
				<div class="keyConfigFlexContainer">
					<div ng-repeat='key in parent.config.keyConfig' class="configKeyWidth" layout="row">
						<md-input-container style="flex-grow: 0.6;">
							<input ng-model="key.type" placeholder="trigger" ng-keydown="parent.setKeyString($event, key);">
						</md-input-container>
						<md-input-container style="flex-grow: 0.3; flex-basis: 180px;">
							<md-select ng-model="key.fct" md-container-class="md-select-3-columns">
								<md-option ng-repeat="keyBindFctsName in ::parent.keyBindFctNames track by $index" ng-value="::keyBindFctsName" placeholder="function"
								           ng-click="parent.ngUtil.closeMdSelect();">
									{{::keyBindFctsName}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="flex-grow: 0.1; flex-basis: 50px;">
							<input ng-model="key.x" placeholder="X">
						</md-input-container>
						<md-button class="md-raised" style="margin-bottom: 40px;" ng-click="parent.config.keyConfig.splice($index, 1);">remove</md-button>
					</div>
				</div>
				<div style="text-align: center;">
					<md-button class="md-raised" style="margin:auto; height: 48px;" ng-click="parent.config.keyConfig.push({});">add key</md-button>
				</div>
			</md-tab>
			<md-tab label="Mouse configuration">
				<div class="keyConfigFlexContainer">
					<div ng-repeat='key in ::parent.config.mouseConfig track by $index' class="configKeyWidth" layout="row">
						<md-input-container style="flex-grow: 0.6;">
							<input ng-value="::key.type" placeholder="trigger" disabled>
						</md-input-container>
						<md-input-container style="flex-grow: 0.3; flex-basis: 180px;">
							<md-select ng-model="key.fct" md-container-class="md-select-3-columns">
								<md-option ng-repeat="keyBindFctsName in ::parent.keyBindFctNames track by $index" ng-value="::keyBindFctsName" placeholder="function"
										   ng-click="parent.ngUtil.closeMdSelect();">
									{{::keyBindFctsName}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="flex-grow: 0.1; flex-basis: 50px;">
							<input ng-model="key.x" placeholder="X">
						</md-input-container>
					</div>
				</div>	
			</md-tab>
			<md-tab label="File history">
				<div class="floatRow50">
					<md-switch class="md-primary" style="width:100%;" ng-model="parent.config.enableFileHistory">
						file history
					</md-switch>
					<md-switch class="md-primary" style="width:100%;" ng-model="parent.showConfigFileHistory">
						show file history
					</md-switch>
				</div>
				<div class="floatRow50" style="display: flex; flex-direction: column; height: 124px;">
					<md-button class="md-raised" style="margin:auto; width: 124px;" ng-click="parent.exportFileHistory();">export file</md-button>
					<md-button class="md-raised" style="margin:auto; width: 124px;" ng-click="parent.importFileHistory();">import file</md-button>
				</div>

				<div class="floatRow50" ng-repeat="(key, prop) in parent.storage.readerFileHistory track by $index" ng-if="parent.showConfigFileHistory">
					<md-input-container style="width:calc(100% - 100px); margin-bottom: 0px;">
						<input ng-model="key" placeholder="path" style="color: currentColor;" disabled>
					</md-input-container>
					<md-input-container style="width: 56px; margin-bottom: 0px;">
						<input ng-model="parent.storage.readerFileHistory[key]" placeholder="index">
							
					</md-input-container>
					<div class="md-icon-button md-button" class="no-marg-pad" style="width: 40px; float: right; margin: 10px 0px;" ng-click="parent.deleteFileHistElem(key);">
						<i class="material-icons">&#xE14C;</i>
					</div>
				</div>	
			</md-tab>
		</md-tabs>
	</md-dialog>
</div>