<!DOCTYPE html>
<html>
	<head>
		<title>emdl</title>
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: https: *;"> -->
		<meta charset="UTF-8">
				
		<script src="./js/bootstrap.js"></script>
	</head>

	<body class="w100h100" ng-app="app" ng-controller="appCtrl" ng-strict-di md-no-ink md-theme="{{theme}}"
			ng-style="{'color': $storage.config.colorTheme.darkTheme ? 'white' : 'black'}" md-colors="{'background-color': 'background'}">
	
		<downloader-ui style="contain: content;" ng-show="!$root.$storage.reader.config.show"></downloader-ui>

		<reader-ui style="contain: content;" ng-show="$root.$storage.reader.config.show"></reader-ui>
		
		<update-check-dialog style="contain: content;"></update-check-dialog>
		
		<meta-data-dialog style="contain: content;"></meta-data-dialog>
					
	</body>
</html>