<md-content class="w100h100" style="min-width:500px;">

	<!-- needs to be here for proper scrolling (small screen size) -->
	<div class="md-secondary md-icon-button readerToggle" ng-click="$root.$storage.reader.config.show = !$root.$storage.reader.config.show;">
		<i class="material-icons">&#xE0E0;</i>
		<div style="margin: auto;">R<br />D</div>
	</div>

	<div class="dlMainSmallColumn1 dlMainBigColumn">

		<div class="topcont readerToggleMargin">
			<div class="textInputIconSpace">
				<md-input-container context-menu="ngUtil.textInputMenu" class="no-marg-pad" style="width:calc(66.66% - 4px); height: 100%;">
					<input class="w100h100Important" ng-model="config.search" placeholder="search" ng-change="filterMlist();"
						   ng-keyup="$event.keyCode == 13 && currentmmodel.options.livesearch && getLiveSearchChapters()">
				</md-input-container>
				<md-input-container  class="w33h100 no-marg-pad">
					<md-select class="w100h100" ng-model="currentmmodel" md-container-class="md-select-3-columns">
						<md-option ng-repeat="mmodel in mmodels track by $index" ng-value="mmodel" ng-click="ngUtil.closeMdSelect();">
							{{mmodel.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div class="md-icon-button md-button textInputIcon" class="no-marg-pad" style="top: -10px;" ng-click="showGlobalConfig($event);">
				<i class="material-icons">&#xE8B8;</i>
			</div>
				
			<div class=" md-icon-button md-button textInputIcon" style="bottom: -5px;"  ng-click="getMangas(true);">
				<i class="material-icons">&#xE86A;</i>
			</div>
		</div>
		
		<div id="mlist" class="maincont" lr-infinite-scroll="incshowlist" scroll-threshold="200">
			<div class="w100h100" ng-show="!currentmmodel.options.livesearch">
				<div ng-show="currentmlist.progress<100">
					<md-progress-linear id="mlistProgressBar" md-mode="determinate" value="{{currentmlist.progress}}" style="position: absolute;"></md-progress-linear>
					<div class="absoluteCenter" style="text-align: center;">
						Fetching media data may take a while, please be patient.
					</div>
				</div>

				<md-virtual-repeat-container class="w100h100" md-top-index="mlistContainerIndex">
					<md-list-item md-virtual-repeat="m in filteredMlist" style="width:100%;" ng-click="getChapters(m);"
								  onmouseover  = "this.querySelector('.material-icons').style.display = 'block';"
								  onmouseleave = "this.querySelector('.material-icons').style.display = 'none';">
						<p>{{ m.name }}</p>
						<div class="md-secondary md-icon-button no-marg-pad" ng-click="ngUtil.showMetaInfo(m.name,$event);"
						     ng-style="{'display' : (!currentmmodel.options.type||currentmmodel.options.type=='manga') ? 'block' : 'none'}">
							<i class="material-icons" style="display: none;">&#xE88E;</i>
						</div>	
					</md-list-item>
				</md-virtual-repeat-container>
			</div>
	
			<md-button class="md-raised" style="width: calc(100% - 16px); height: calc(100% - 16px);"
						ng-show="currentmmodel.options.livesearch" ng-click="getLiveSearchChapters();">
				<span style="white-space: pre-wrap;">click to perform a live search <br /> with your current search term</span>
			</md-button>
		</div>
		
	</div>
	
	<div class="dlMainSmallColumn1 dlMainBigColumn">
		
		<md-input-container class="topcont">
			<md-button class="w100h100 no-marg-pad md-raised md-primary" disabled ng-disabled="!currentm||getSelectedChapters(currentm.chapters).length==0"
				       ng-click="downloads.addDL();" context-menu="chapterPreview" model="'selected'">
				Download
			</md-button>
		</md-input-container>
		
		<div class="maincont">	
			<md-subheader style="color: currentColor; cursor: pointer;" ng-show="currentm.name" ng-click="ngUtil.openExternal(currentm.link);">
				<md-icon class="openExternalIcon" ng-show="!currentm.error">launch</md-icon>
				<md-icon class="openExternalIcon" ng-show="currentm.error">report_problem
					<md-tooltip md-direction="top" class="cust-tooltip">
						Sometimes refreshing the manga list can solve the problem.<br />
						If not the plugin may be broken or the website has no chapters available.
					</md-tooltip>
				</md-icon>
				<span style="margin-left: 25px; text-decoration: underline; display: block; float: left; width: calc(100% - 49px);">{{currentm.name}}</span>
				<md-icon class="openExternalIcon" style="float: right; position: relative;" ng-click="currentm = null">close</md-icon>
			</md-subheader>
			
			<div ng-if="testFactory">
				<md-switch style="float: left; margin-left: 16px;" class="md-primary" ng-model="currentmmodel.options.debug">debug logs</md-switch>
				<md-button style="margin-top: 12px;" ng-click="testFactory.mmodelsTest();"> test all </md-button>
			</div>

			<md-input-container ng-if="currentm.versions.length > 1" class="versionSelection">
				<md-select ng-model="currentm.curversion">
					<md-option ng-repeat="version in currentm.versions track by $index" ng-value="version">
						{{version}}
					</md-option>
				</md-select>
			</md-input-container>	

			<div ng-repeat="chapter in currentm.chapters track by $index" style="position: relative;" ng-if="!currentm.curversion || chapter.version==currentm.curversion">
				<md-list-item ng-if="chapter.newvol" ng-click="toggleChaptersExpand(currentm.chapters, chapter);"
							  style="width:100%;" class="chapterSelectionBorder"
							  ng-style="($index==0 || currentm.chapters[$index-1].expand || currentm.chapters[$index-1].version!=chapter.version) && {'border-top':'1px solid #dddddd'}">
				
					<md-icon style="margin: 0px 8px 0px 0px;">{{chapter.expand?"&#xE15B;":"&#xE145;"}}</md-icon>
					<p>{{ (mediaTypes[currentmmodel.options.type] ? mediaTypes[currentmmodel.options.type].volPrefix : mediaTypes.manga.volPrefix) + chapter.volnumb}}</p>
					<div class="md-secondary md-icon-button no-marg-pad" ng-click="toggleChapterSelection(currentm.chapters,chapter,false);">
						<i class="material-icons">&#xE8D5;</i>
					</div>
					<md-checkbox class="md-secondary" ng-model="chapter.volsel" ng-click="toggleChapterSelection(currentm.chapters,chapter,true);"></md-checkbox>
				</md-list-item>
				<md-divider class="chapterSelectionIndentation" ng-if="chapter.chadiv && !chapter.newvol" ng-show="chapter.expand"></md-divider>
				
				<md-list-item class="chapterSelectionBorder chapterSelectionIndentation" context-menu="chapterPreview" model="chapter"
								ng-style="($index==currentm.chapters.length-1 || chapter.version != currentm.chapters[$index+1].version) && {'border-bottom':'1px solid #dddddd'}"
								ng-if="chapter.expand" ng-click="toggleChapterSelection(currentm.chapters,chapter,false,1);">
					<div class="md-secondary md-icon-button no-marg-pad" ng-click="toggleChapterSelection(currentm.chapters,chapter,false,5);" ng-if="chapter.chadiv">
						<i class="material-icons">&#xE8D5;</i>
					</div>
					<p>{{ (mediaTypes[currentmmodel.options.type] ? mediaTypes[currentmmodel.options.type].chaPrefix : mediaTypes.manga.chaPrefix) + chapter.chanumb}}</p>
					<md-checkbox class="md-secondary" ng-model="chapter.selected" ng-click="chapter.selected=!chapter.selected; toggleChapterSelection(currentm.chapters,chapter,false,1);"></md-checkbox>
				</md-list-item>
			</div>
		</div>

	</div>

	<div class="dlMainSmallColumn2 dlMainBigColumn">	

		<div class="topcont">
			<md-input-container context-menu="ngUtil.openInExplorerMenu" model="config.dldir" class="no-marg-pad no-marg-pad textInputIconSpace">
				<input class="w100h100Important" ng-model="config.dldir" placeholder="base download directory">
			</md-input-container>			
			<div class="md-icon-button md-button textInputIcon" class="no-marg-pad" style="top: -10px;" ng-click="showDownloadConfig();">
				<i class="material-icons">&#xE8B8;</i>
			</div>
			<div class="md-icon-button md-button textInputIcon" class="no-marg-pad" style="bottom: -19px;" ng-click="dlDirOpenDialog();">
				<i class="material-icons">&#xE5D3;</i>
			</div>
		</div>
		
		<div class="maincont">
			<div ng-repeat="dl in downloads.list track by $index">
				<md-subheader class="md-no-sticky md-primary" ng-if="$index==0||downloads.list[$index].state!=downloads.list[$index-1].state">{{dl.state}}</md-subheader>
				
				<md-list-item ng-click="dl.toggleState();" context-menu="packMenu">
							
					<div class="md-icon-button md-button" ng-show="(dl.skipped)&&(dl.state=='completed')" ng-click="ngUtil.openWebConsole();">
						<md-tooltip md-direction="top" class="cust-tooltip">Some pages or chapters were skipped you can retry to get missing files.<br/>Check the web console for more information.<br/>Click to open DevTools and then select the tab 'Console'.</md-tooltip>
						<i class="material-icons">report_problem</i>
					</div>								
					<div class="md-icon-button md-button" ng-show="(!dl.skipped)&&(dl.state=='completed')">
						<md-tooltip md-direction="top" class="cust-tooltip">Downloaded all files successfully.</md-tooltip>
						<i class="material-icons">done</i>
					</div>
								
					<p>{{dl.manga.name}}</p>
					<span style="width: 60px; text-align: right;">{{ dl.getProgress() }}</span>

					<div class="md-secondary md-icon-button no-marg-pad" ng-click="dl.toggleState();" ng-show="(dl.state!='completed' || dl.skipped)">
						<i class="material-icons">{{dl.state=='paused'?'&#xE037;':(dl.state=='completed'?'&#xE042;':'&#xE034;')}}</i>
					</div>
					<div class="md-secondary md-icon-button no-marg-pad" ng-click="downloads.removeDL($index);">
						<i class="material-icons">&#xE5CD;</i>
					</div>	
					
				</md-list-item>
			</div>
		</div>

	</div>
</md-content>

<div style="visibility: hidden; contain: content;" static-include="./js/directives/dialogs/globalConfig.html"   resume-watchers="watchGlobalConfig"></div>
<div style="visibility: hidden; contain: content;" static-include="./js/directives/dialogs/downloadConfig.html" resume-watchers="watchDownloadConfig"></div>