<!--overlay-->
<div id="viewerOverlay" style="position: absolute; width: 100%;"
	ng-show="( !config.hideSideMenu || config.showOverlay || openm.loading || openm.files[openm.fileIndex].mediaType=='pdf')">	
	<md-content id="leftOverlay"   class="reader-ui" style="left: 0px;"></md-content>
	<md-content id="centerOverlay" class="reader-ui absoluteCenterHorizontal" ng-show="(openm.files.length>0 || openm.loading)"></md-content>
	<md-content id="rightOverlay"  class="reader-ui" ng-style="{'right': openm.files[openm.fileIndex].mediaType=='pdf' ? '17px' : '0px'}"></md-content>
</div>

<!--display area-->
<div id="viewerContainer" class="w100h100" style="contain: layout style paint size;" ng-style="config.styleContainer"
	 drag-scroll="config.dragscroll" drag-scroll-factor="config.dragScrollFactor" on-drag-start="dragScrollStart" on-drag-end="dragScrollEnd">	
	<div class="absoluteCenter" style="mix-blend-mode: difference; color:white; text-align: center; contain: layout style paint;"
		 ng-if="!openm.loading && openm.files.length==0">Empty or not existing directory</div>
	
	<div class="w100h100" style="display: flex; align-items: center;" ng-show="!config.enableEndlessScroll">
		<img   id="imageDisplay" class="mediaDisplay" ng-style="config.styleImage">
		<embed id="pdfDisplay" class="mediaDisplay" height="100%" width="100%" ng-style="config.styleImage" style="display: none;">
		<video id="videoDisplay" class="mediaDisplay" draggable="true"></video>
	</div>
	<div id="scrollContainer" class="w100h100" ng-init="setScrollContainer();" ng-if="config.enableEndlessScroll">
		<img ng-repeat="i in openm.files track by $index" ng-src="{{i.src}}" ng-if="abs(openm.fileIndex-$index)<10" class="mediaDisplay"
			 ng-style="config.styleImage" fileIndex="{{$index}}" onload="initEndlessScrollImg(this);" >
	</div>
</div>
