<div style="visibility: hidden;">
	<div class="md-dialog-container" id="metaInfo">
		<md-dialog layout-padding class="mdDialogSize">
			<div ng-if="metaData">

				<md-progress-circular ng-if="!metaData.name && !metaData.error" class="absoluteCenter" md-mode="indeterminate"></md-progress-circular>

				<h3 ng-if="metaData.error" style="text-align:center">Failed to receive metadata</h3>

				<div ng-show="metaData.name && !metaData.error">

					<div style="width:100%; float:left;  padding-right: 8px;">
						<h3 style="display: inline-block;">
							<a href="" style="color: currentColor; display: inline-block;" ng-click="ngUtil.openExternal(metaData.link);">
								<md-icon style="font-size: 20px; position: absolute; margin-top: 2px; color: currentColor;">launch</md-icon>
								<span style="margin-left:25px;">{{metaData.name}}</span>
							</a>
							<span>
								<md-tooltip class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.asocnames}}</md-tooltip>
								(<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText" style="border-bottom-width: 2px;">alt. names</span>)
							</span>
						</h3>

						<img style="float:right; width:250px; margin: 20px 0px 20px 20px;" ng-show="metaData.img" ng-src="{{metaData.img}}">
						
						<p>{{metaData.type}}, {{metaData.year}} by 
							<span>
								<md-tooltip class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.authors}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">authors</span>,
							</span>
							
							<span>
								<md-tooltip class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.artists}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">artists</span>
							</span>
						</p>
						<p style="white-space: pre-wrap;">{{metaData.description}}</p>
						
						<md-divider style="overflow: hidden;"></md-divider>
						
						<p>
							<span ng-repeat="genre in metaData.genre track by $index">
								{{genre}}<span ng-if="$index != metaData.genre.length-1">, </span>
							</span>
						</p>
						<p>
							<span ng-repeat="category in metaData.categories track by $index">
								{{category}}<span ng-if="$index != metaData.categories.length-1">, </span>
							</span>
						</p>
						
						<md-divider style="overflow: hidden;"></md-divider style="overflow: hidden;">
						
						<p>
							<span>
								<md-tooltip md-direction="top" class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.latesttrans}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Latest translations</span>
							</span> | 
							<span>
								<md-tooltip md-direction="top" class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.latestrels}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Latest Release</span>
							</span> | 
							<span>
								<md-tooltip md-direction="top" class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.relatedseries}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Related series</span>
							</span> | 
							<span>
								<md-tooltip md-direction="top" class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.anstartend}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Anime start/end</span>
							</span> | 
							<span>
								<md-tooltip md-direction="top" class="cust-tooltip" style="white-space: pre-wrap;">{{metaData.ratings}}</md-tooltip>
								<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Rating</span>
							</span>
						</p>
					</div>
				</div>
			</div>
		</md-dialog>
	</div>
</div>
