<md-content class="w100h100" style="min-width:500px;">

	<!--sidemenu-->
	<md-content class="readerSideMenu" ng-style="{width:config.hideSideMenu?'0px':'300px'}">

		<div class="topcont readerToggleMargin" ng-show="!config.hideSideMenu">
			<div class="md-secondary md-icon-button readerToggle" style="left: -32px; top: -18px;" 
				 ng-click="$root.$storage.reader.config.show = !$root.$storage.reader.config.show;">
				<i class="material-icons">&#xE2C4;</i>
				<div style="margin: auto;">D<br />L</div>
			</div>

			<md-input-container context-menu="ngUtil.openInExplorerMenu" model="config.basedir"
								id="readerBaseDir" class="no-marg-pad textInputIconSpace">
				<input class="w100h100Important" ng-model="config.basedir" placeholder="base reader directory">
			</md-input-container>
			
			<div class="md-icon-button md-button textInputIcon readerTextInputIcon" style="top: -13px;" ng-click="showReaderConfig($event);">
				<i class="material-icons">&#xE8B8;</i>
			</div>
			<div class="md-icon-button md-button textInputIcon readerTextInputIcon" style="top: 16px;" ng-click="baseDirGoUp();">
				<i class="material-icons">&#xE5D8;</i>
			</div>
			<div class="md-icon-button md-button textInputIcon readerTextInputIcon" style="bottom: -15px;" ng-click="baseDirOpenDialog();">
				<i class="material-icons">&#xE5D3;</i>
			</div>
		</div>

		<div class="maincont">
			<md-list-item style="cursor: pointer; border: 1px solid transparent;"
						  context-menu="menuFolders" ng-repeat="dir in rootdirs track by $index" ng-click="openm.loadPath(dir.path);"
						  ondragstart="handleDirDragStart(event)" ondragover="handleDirDragOver(event)" ondragleave="handleDirDragLeave(event)"
						  ondrop="handleDirDrop(event)" draggable="true" dirPath="{{dir.path}}"
						  onmouseover  = "this.querySelector('.md-secondary .material-icons').style.display = 'block';"
						  onmouseleave = "this.querySelector('.md-secondary .material-icons').style.display = 'none';">
				<i class="material-icons" md-colors="{color: 'accent'}" style="width: 31px; font-size: 21px;" ng-if="dir.pinned">bookmark</i>
				<p>{{ dir.name }}</p>
				<div class="md-secondary md-icon-button no-marg-pad" ng-click="" context-menu="menuFolders" context-menu-on="click" model="dir">
					<i class="material-icons" style="display: none;">more_vert</i>
				</div>
			</md-list-item>
		</div>
	</md-content>
	
	<md-content id="dirNotification" class="absoluteFullViewport" ng-style="{left:config.hideSideMenu?'0px':'300px'}">
		<media-viewer style="contain: content;"></media-viewer>
	</md-content>
</md-content>
	
<div style="visibility: hidden; contain: content;" static-include="./js/directives/dialogs/readerConfig.html" resume-watchers="watchReaderConfig"></div>
<div style="visibility: hidden; contain: content;" static-include="./js/directives/dialogs/pathRename.html"   resume-watchers="watchPathRename"></div>
<div style="visibility: hidden; contain: content;" static-include="./js/directives/dialogs/pathDelete.html"   resume-watchers="watchPathDelete"></div>
