<div style="visibility: hidden;">
	<div class="md-dialog-container" id="updateDialog">
		<md-dialog layout-padding  class="mdDialogSize">

			<div class="w100h100" ng-if="showUpdateDialog">
				<h4 style="text-align: center;">Update available</h4>

				<webview class="no-marg-pad" style="height:250px; width:100%;"></webview>
				<!-- <md-button ng-show="updshowback" style="margin:0px; position:absolute; background-color:black;" class="md-icon-button" ng-click="updgoback();">
					<i class="material-icons" style="color: white;">&#xE5C4;</i>
				</md-button> -->

				<div style="width:100%; display:flex; justify-content: space-evenly; margin-top: 25px; text-align:center;">
					<md-checkbox class="md-secondary" ng-checked="config.notifyversion==updversion" ng-click="changeNotifyVersion();">
						Dont notify me again	
					</md-checkbox>
					<div>Your version<br/>{{curversion}}</div>
					<div>Newest version<br/>{{updversion}}</div>
				</div>
			</div>

		</md-dialog>
	</div>
</div>